<div class="flex container py-6 ">
    <div class="w-1/4">
        <!-- tạm thời chỉ để trưng -->
    </div>
    <div class="w-1/2">
        {{#if blogs}}
        <!-- Bài viết -->
         {{#each blogs}}
        <div id="wrapper-blog" class="shadow-outline-black shadow-slate-300 p-2 rounded-md my-6">
            <div class="flex justify-between items-center px-3">
                <div class="flex items-center mb-3">
                    <a class="w-14 h-14 overflow-hidden rounded-full" href="#">
                        <img class="w-full h-full object-cover" src="{{this.author.avatar}}" alt="">
                    </a>
                    <span class="mx-2 text-xl font-bold">{{this.author.name}}</span>
                </div>
                <span class="text-gray-500 font-semibold">{{time this.createdAt}}</span>
            </div>
            <div>
                <p class="text-justify">{{{this.content}}}
                </p>
            </div>
            <div class="flex justify-between px-2 mt-4 pt-2 border-t border-slate-600">
                <span class="text-xl text-red-600 hover:cursor-pointer hover:opacity-80">
                    <i class="bi bi-heart-fill"></i>
                    <span>{{this.like}}</span>
                </span>
                <span data-comment-id="{{this._id}}" id="comments-btn" class="text-xl text-blue-500 hover:cursor-pointer hover:opacity-80">
                    <span>{{count this.comments}}</span>
                    <i class="bi bi-chat-left-dots-fill"></i>
                </span>
            </div>

            <!-- khung bình luận -->
            
            <div 
            id="{{this._id}}" 
            class="hidden t-6 animate-show-comment">
                <ul class="max-h-72 overflow-y-auto custom-scrollbar">
                    {{#if this.comments}}
                    {{#each this.comments}}
                    <li class="flex flex-col my-3 px-4">
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <img class="w-8 h-8 rounded-full object-cover" src='{{this.author.avatar}}' alt="">
                                <span class="text-sm ml-1 font-semibold">{{this.author.name}}</span>
                            </div>
                            <div class="text-sm ml-2 text-gray-500">
                                <span>{{time this.createdAt}}</span>
                            </div>
                        </div>
                        <div>
                            <p class="text-sm">{{{this.content}}}</p>
                        </div>
                    </li>
                    {{/each}}
                    {{else}}
                    <li>Chưa có comment nào cả</li>
                    {{/if}}
                </ul>
                <div class="mt-12">
                    <form action="/blog/comment/{{this._id}}" method="post">
                        <textarea id="editor" name="content" placeholder="Viết bình luận..."></textarea>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full" type="submit">Bình luận</button>
                    </form>
                </div>
             </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div class="w-1/4">
        <!-- tạm thời chỉ để trưng -->
    </div>
</div>


<script src="https://cdn.ckeditor.com/ckeditor5/44.0.0/ckeditor5.umd.js"></script>
<script src="https://cdn.ckbox.io/ckbox/2.4.0/ckbox.js"></script>
<script>
    //ẩn hiện khung bình luận
    const commentsBtns = document.querySelectorAll('#comments-btn');

    commentsBtns.forEach((btn, index) => {
        const commentId = btn.getAttribute('data-comment-id');
        const commentWrapper = document.getElementById(commentId);
        //toggle bình luận
        btn.addEventListener('click', () => {
            commentWrapper.style.display = commentWrapper.style.display === 'block' ? 'none' : 'block';
        });
    });

    //==== CKEDITOR for comment block====//
    const {
        Essentials,
        ClassicEditor,
        Paragraph,
        Bold,
        Italic,
        Font,
    } = CKEDITOR;
    const blockCmts = document.querySelectorAll('textarea#editor');
    blockCmts.forEach(blockCmt => {
        ClassicEditor
            .create(blockCmt, {
                licenseKey: 'eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3NjU0OTc1OTksImp0aSI6IjBmNzIxYzU0LThkNmItNDc0MS04ODlhLTYyMmYyZjMzMzVkMiIsInVzYWdlRW5kcG9pbnQiOiJodHRwczovL3Byb3h5LWV2ZW50LmNrZWRpdG9yLmNvbSIsImRpc3RyaWJ1dGlvbkNoYW5uZWwiOlsiY2xvdWQiLCJkcnVwYWwiXSwiZmVhdHVyZXMiOlsiRFJVUCIsIkJPWCJdLCJ2YyI6IjBiOGZiN2E1In0.YYmHTgMa8WbTHPqeJQvqpiyg89vuomcBvUJJVWv4k2bdx5ri8lkGwQkJYMjFoW4u5x3uQPzajA62FNA-gWSTIw',
                plugins: [Essentials, Paragraph, Bold, Italic, Font],
                toolbar: ['bold', 'italic', 'fontColor', 'fontBackgroundColor'],
            })
            .then(editor => {
                console.log('Editor was initialized', editor);
            })
            .catch(error => {
                console.error(error.stack);
            });
    })
    
</script>